.App {
  text-align: center;
}

.all-smurfs{
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.Smurf {
  width: 250px;
  margin: 0 10px 32px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 32px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  text-decoration: none;
  color: #1c5d76;
  font-weight: bold;
  margin-right: 8px;
}

/* .nav-links a:last-of-type {
  margin-right: 0;
} */

.nav-links a.active {
  border-bottom: 1px solid #1c5d76;

}

/* .nav-links a.active:hover{
  background-color: paleturquoise;

} */



form {
  display: flex;
  z-index: 10;
  position: relative;
  width: 400px;
  margin: 16px auto;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  flex-flow: column;
}

form > input {
  border: 0;
  padding: 12px 16px;
  margin: 8px;
  background: #fff;
  font-size: 1rem;
  width: 240px;
  border-radius: 0;
  outline: 0;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}

button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 0 16px;
  margin-top: 16px;
  margin-right: 10px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: var(
    --pure-material-font,
    'Roboto',
    'Segoe UI',
    BlinkMacSystemFont,
    system-ui,
    -apple-system
  );
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
